@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
*{
margin: 10px;
background-color: beige;
}
.cart-logo{
    display: flex;
    flex-direction: column;
}
.cart-logo img{
    width: 100px;
    height: 100px;
}
.cart-logo h1{
    font-size: xx-large;
    font-family: Lobster;
}
table{
    margin-top: 50px;
    margin-left: 100px;
    width: 1000px;
    background-color:;
    height: 800px;
    
} 

th{
    height: 50px;
    background-color:;
    border-bottom: 2px solid gray;
    font-size: xx-large;
    font-family: Lilita One;
   
}
.npro{
    width: 400px;
    height: 100px;
    background-color: ;
    border-bottom: 2px solid gray;
    justify-content: first baseline;
    
  
   
}
.tpro{
    padding-left: 20px;
    font-size: 20px;
   
    
}

    

.npro-img img{
    width: 60px;
    height: 80px;
    border: 2px solid gray;
    border-radius: 7px;
}

.npro div{
    display: flex;
    flex-direction: row;
    padding-left: 50px;
}

.spro{
    width: 70px;
    background-color:;
    border-bottom: 2px solid gray;
   
}
.spro span{
    padding: 15px;
    border: 2px solid gray;
    border-radius: 7px;
    
}

.qpro{
    width: 150px;
    background-color: ;
   border-bottom: 2px solid grey;
}
.qpro span{
    padding: 15px;
border: 2px solid gray;
border-radius: 7px;
}
.rpro{
    width: 150px;
    background-color:;
    border-bottom: 2px solid gray;
    
}
.rpro span{
   padding: 15px;
   border: 2px solid grey;
   border-radius: 7px;
}
.ppro{
    width: 100px;
    background-color: ;
    border-bottom: 2px solid gray;
    
}
.ppro span{
   padding-left: 30px;
   border: 2px solid grey;
   border-radius: 7px;
}
