*{
    margin: 10px;
}

.cart-logocart{
    display: flex;
    width: 50%;
  flex-direction: column; 
    border: 2px solid black;
    justify-content:flex-start;
    height: 200px;
}
.img-logocart{ 
display: flex;


}
.img-logocart img{
    width: 70px;
    height: 70px;
}
.title-cart{
 display: flex; 


}
.table-title th{
    padding: 10px
    ;
    font-size: larger;
}
.table-product{
    margin-top: 100px;
    border: 2px solid black;
    width: 100%;
    height: 500px;
}

 .table-product .product-description{
   padding: 10px ;
}
.product-description{
    display: flex;
    flex-direction: column;
   align-items: center;
}
.product-description img{
    width: 75px;
    height: 100px;
}
.table-product td{
    padding-left: 100px;
    font-size: large;
}
